/** fonts **/
@font-face {
	font-family: 'sansation';
	src: url('fonts/sansation_light_0-webfont.eot');
	src: url('fonts/sansation_light_0-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/sansation_light_0-webfont.woff2') format('woff2'),  url('fonts/sansation_light_0-webfont.woff') format('woff'),  url('fonts/sansation_light_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
* {
	font-family: "sansation" !important;
}
body, html {
	width: 100%;
	height: 100%;
}
body {
	color: #8a8a8a;
	background: #ccc;
	overflow-x: hidden;
	width: 100%;
}
body.home{
	background:#ccc url("../images/banner_image.jpg") repeat fixed 0 10% / cover ;
}
.main_header {
	background:rgba(255, 255, 255, 0.8) url(../images/top-left-img.png) -15px 0 no-repeat;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 95%;
}
.inner_head {
	position: relative;
}
.top_bar {
	padding-top: 35px;
}
.top_bar ul {
	margin: 0;
}
.top_bar ul li {
	list-style: none;
	float: left;
}
.top_bar .lang_list ul li a {
	border-right: 1px solid #8a8a8d;
	padding: 0 9px !important;
	color: #8a8a8a !important;
	font-size: 16px;
}
.top_bar .lang_list ul li:last-child a {
	border-right: none;
}
.lang_list li {
	margin-top: -3px;
}
.top_bar .social_icon ul li a {
	padding: 0 10px !important;
}
.logo {
	width: 100%;
	padding: 25px 0;
}
.logo img {
	width: 47%;
}
.top_nav {
	position: absolute;
	bottom: 101px;
	width: 100%;
}
.top_nav ul li a {
	color: #8a8a8a;
	font-size: 24px;
	padding-left: 45px !important;
	padding-right: 45px !important;
}
.nav-bar {
	margin-top: 3px;
}
.top_nav ul li a:after {
	border-color: transparent !important;
}
.top_nav ul li > ul li {
	padding: 0 9px;
}
.top_nav ul li > ul li a {
	font-size: 14px;
	text-align: left;
	padding: 0 !important;
	line-height: 50px !important;
	display: inline-block !important;
}
.top_nav .top_bar {
	display: none;
}
.dropdown.menu .submenu {
	min-width: 175px;
	z-index: 99999;
}
.menu.expanded {
	width: 85%;
	margin: auto;
}
.menu>li {
	text-align: center;
}
.dropdown.menu .submenu>li {
	text-align: left;
}
.stickytop {
	position: fixed;
	height: 142px;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	background: #fff;
	border-bottom: 4px solid #bbb;
}
.stickytop ul li a {
	color: #8a8a8a;
	font-size: 24px;
	padding-left: 45px !important;
	padding-right: 45px !important;
}
.stickytop ul li a:after {
	border-color: transparent !important;
}
.stickytop ul li > ul li {
	padding: 0 9px;
}
.stickytop ul li > ul li a {
	font-size: 14px;
	text-align: left;
	padding: 0 !important;
	line-height: 50px !important;
	display: inline-block !important;
}
.stickytop .top_bar {
	display: block;
	padding-top: 7px;
}
.stickytop .nav-bar ul li a {
	border-bottom: 4px solid transparent;
}
.stickytop .nav-bar ul li a:hover, .stickytop .nav-bar ul li a.active {
	border-bottom: 4px solid #8bca3a !important;
}
.inner_head .nav-bar ul li a:hover, .inner_head .nav-bar ul li a.active {
	border-bottom: 4px solid #8bca3a !important;
}
.dropdown.menu .submenu a {
	border-bottom: 2px solid transparent;
	padding-top: 15px !important;
	margin-bottom: 8px;
	line-height: 32px !important;
}
.stickytop .dropdown.menu .submenu a:hover, .stickytop .dropdown.menu .submenu a.active {
	border-bottom: 2px solid #8bca3a !important;
}
.inner_head .dropdown.menu .submenu a:hover, .inner_head .dropdown.menu .submenu a.active {
	border-bottom: 2px solid #8bca3a !important;
}
.scroll_arrow {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 99;
}
.scroll_arrow a img {
	transition: all .3s ease-in-out;
}
.scroll_arrow a:hover img {
	transform: scale(1.1);
}
.banner img {
	width: 100%;
}
.top_banner {
	position: relative;
	margin-top:-85px;
}
.gray_bg {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.white_bg {
	width: 100%;
	height: 100%;
	background: rgba(189, 189, 189, 0.45);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.top_banner .popup_button {
	position: absolute;
	top: 50px;
	right: 20px;
	z-index: 10;
	background: url(../images/circle_round.png) no-repeat top left;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-radius: 100%;
	width: 102px;
	height: 102px;
	text-align: center;
	padding-top: 32px;
	font-size: 18px;
	line-height: normal;
	color: #b3b1b1;
	font-weight: 700;
}
.top_banner .popup_button_fix {
	position: fixed;
	top: 150px;
	right: 20px;
}
.popup_button_fix_inner {
	top: 75px;
	position: fixed;
	top: 160px;
	right: 20px;
	z-index: 101;
	background: url(../images/circle_round.png) no-repeat top left;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-radius: 100%;
	width: 102px;
	height: 102px;
	text-align: center;
	padding-top: 32px;
	font-size: 18px;
	line-height: normal;
	color: #b3b1b1;
	font-weight: 700;
}
.popup_button_fix_inner:hover, .top_banner .popup_button:hover {
	cursor: url('../images/mouse-cursor.png'), default !important;
	color: #b3b1b1
}
.text_banner {
	background: #fff;
	padding: 135px 0;
	-webkit-transform: skew(0deg, -3deg);
	transform: skew(0deg, -3deg);
	margin-top: -40px;
}
.text_banner h1 {
	transform: skew(0deg, 3deg);
	-webkit-transform: skew(0deg, 3deg);
	text-transform: uppercase;
}
.text_banner span {
	border-bottom: 2px solid #92e100;
	padding-bottom: 5px;
}
.banner {
	background: url(../images/banner_image.jpg) 0% 10% repeat fixed;
	min-height: 867px;
	background-size: cover;
}
.footer_contact {
	position: relative;
	background:#ccc;
}
.footer_contact > .row {
	background: url(../images/footer_cirle.png) no-repeat top right;
}
.footer_info {
	background: #fff;
	-webkit-perspective: 300px;
	height: 340px;
	width: 85%;
	margin: 0 auto -25px;
	background: url(../images/footer_white_bg.png) no-repeat top center;
	background-size: 100% 100%;
	position: relative;
	z-index: 1;
}
.gallery {
	padding: 120px 0 70px;
	background:#ccc;
	margin:-60px 0 0;
}
.gallery h1 {
	color: #fff;
	margin-bottom: 0;
	transform: rotate(-3.7deg);
}
.gallery_list .small-9, .gallery_list .small-3, .gallery_list .small-8, .gallery_list .small-4, .gallery_list .small-12 {
	padding: 0;
}
.gallery_list img {
	max-width: 100%;
	margin-bottom: 10px;
	border: 8px solid #9ba0a1;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}
.gallery_list {
	margin-left: -1px;
	padding-bottom: 550px;
	padding-top: 30px;
	transform: perspective(655px) rotateX(0deg) rotateY(-9deg) rotateZ(0deg);
	width: 90%;
}
.sec_01 img {
	width: 46.6%;
	margin-left: 1.7%;
	margin-right: 1.7%;
}
.sec_02 img {
	width: 47.6%;
	margin-left: 1.2%;
	margin-right: 1.2%;
}
.contact_info_text {
	position: absolute;
	top: 70px;
	z-index: 22;
	left: 7.5%;
	width: 85%;
}
.contact_info_text p {
	margin-bottom: 20px;
	font-size: 20px;
}
.contact_info_text a {
	color: #8a8a8a;
}
.contact_info_text p span {
	padding: 0 20px;
}
.footer_nav {
	background: #fff;
	padding: 60px 0 30px 0;
	position: relative;
	border-top: 6px solid #eee;
}
.green_bar {
	left: 17.5%;
	width: 65%;
	background: #92E100;
	height: 2px;
	position: absolute;
	top: 0;
	z-index: 3;
}
.footer_nav a {
	color: #8a8a8a;
}
.jetzt {
	height: 100%;
	top: 90px !important;
	position: fixed;
	z-index: 9999;
	border-radius: 0;
	width: 65%;
	padding: 125px 85px 65px 40px;
	background: url(../images/popup_white_bg.png) no-repeat top center;
	left: 17.5%;
	margin-left: 0;
	box-shadow: none;
	background-size: 100%;
}
.reveal-modal.jetzt.reveal-modal2{
	padding:95px 75px 25px 20px;
	text-align:justify;
}
.reveal-modal.jetzt.reveal-modal2 h1{
	font-size:30px;
	text-transform:uppercase;
	text-align:right;
	margin:-60px 0 20px;
}
.reveal-modal.jetzt.reveal-modal2 h1 em{
	font-style:normal;
	display:block;
}
.jetzt textarea {
	height: 125px;
}
.form_submit {
	background: #8bca3a;
}
.form_submit:hover {
	background: #7ec102;
}
.reveal-modal .close-reveal-modal {
	font-size: 44px;
}
.content_forms {
	width: 100%;
}
.content_forms input[type="text"], .content_forms input[type="email"], .content_forms textarea {
	border: 2px solid #B3B1B1;
}
.menu_buttons {
	width: 70%;
	padding-top: 10px;
	display: block;
}
.menu_buttons button {
	display: block;
	width: 100%;
	height: 30px;
	text-align: left;
	padding-left: 55px;
	padding-bottom: 5px;
}
.menu-icon::after {
	width: 40px;
	top: 4px;
}
.off-canvas-wrapper-inner, .off-canvas-wrapper-inner {
	height: 100%;
}
.off-canvas-wrapper-inner {
	z-index: 999;
}
.off-canvas {
	background: #333;
}
.responsive_bar {
	display: none;
}
.off-canvas-list li a {
	display: block;
	width: 100%;
	color: #fff;
}
.contact_button {
	background: url(../images/email_icon_button.png) no-repeat top center;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 14px;
	right: 58px;
	border: none;
	text-indent: 99px;
}
.menu-bar {
	width: 100%;
	height: 50px;
	position: initial;
	background: #fff;
	z-index: 9100;
	top: 0;
	border-bottom: 1px solid #ddd;
	padding-bottom: 4px;
	display: none;
}
.menu-bar a {
	background: url(../images/Menu-bar.png) no-repeat 10px 1px;
	width: 100%;
	height: 50px;
	text-align: left;
	padding-left: 70px;
	display: block;
}
.menu-btn {
	height: inherit;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 1.4rem;
	float: left;
	background: url(../images/Menu-bar.png) no-repeat 10px 1px;
}
.slide-wrapper {
	width: 37.6%;
	position: fixed;
	top: 0;
	left: -30%;
	height: 100%;
	z-index: 999;
}
.slide-wrapper .nav-menu {
	position: absolute;
	background: #212121;
	width: 250px;
	left: -250px;
	height: 100%;
	transition: ease 0.6s all;
	padding-top: 10px;
}
.slide-wrapper__open .page {
	left: 0;
	transition: ease 0.5s all;
}
.slide-wrapper__open .slide-wrapper {
	left: 0;
	top: 0;
	height: 100%;
	z-index: 999;
}
.slide-wrapper__open .slide-wrapper .nav-menu {
	left: 0%;
	transition: ease 0.5 all;
}
.page {
	width: 100%;
	position: relative;
	left: 0;
	transition: ease 0.6s all;
	display: none;
}
.nav-menu__menu li a {
	display: block;
	color: #fff;
	padding-left: 10px;
}
.menu-bar img {
	height: 45px;
	width: auto;
}
/** leistunge page **/
.inner_head {
	height: 142px;
}
.inner_banner_area {
	padding-top: 20%;
}
.inner_banner {
	margin: 0;
}
.leistunge_banner {
	background: url(../images/girls_photo.jpg) no-repeat top center;
	padding-bottom: 160px;
	background-size: cover;
}
.leistun_wrapper {
	background: url(../images/promo_white_bg.png) no-repeat top center;
	background-size: 100%;
	width: 85%;
	padding: 111px 60px 0px;
	margin: auto;
	position: relative;
	z-index: 1;
	min-height: 730px;
}
.leistun_text h2 {
	display: block;
	width: 100%;
	text-align: center;
}
.listing_point {
	background: url(../images/list_bg.png) no-repeat bottom right;
	padding-bottom: 60px;
}
.listing_point li {
	width: 100%;
	float: left;
	font-size: 20px;
	line-height: 44px;
	list-style: disc;
	list-style-position: inside;
}
.listing_point li:first-child, .listing_point li:nth-child(2) {
	width: 50%;
}
.corporate_fashion {
	position: relative;
	width: 100%;
	min-height: 950px;
}
.corporate_fashion_banner {
	overflow: hidden;
	position: absolute;
	width: 125%;
	height: 100%;
	background: url(../images/corporate_fashion_bg.jpg) 0% 3% repeat;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
	left: -60px;
	margin-top: -30px;
	border-top: 10px solid #aaa;
	background-size: cover;
}
.corporate_fashion_text {
	width: 100%;
	position: relative;
	z-index: 99;
}
.corporate_fashion_text h2 {
	color: #fff;
	text-transform: uppercase;
	transform: rotate(3deg);
	width: 75%;
	margin: auto;
	padding: 50px 0;
}
.fashion_white_bg {
	background: url(../images/corp_fashion_bg.png) top center no-repeat;
	position: relative;
	top: -30px;
	padding-top: 75px;
	background-size: cover;
	width: 75%;
	margin: auto;
	padding-left: 14px;
}
.outfits_point {
	background: none;
}
.outfits_point li {
	float: left;
	width: 50%;
}
.dress_img {
	padding-top: 45px;
}
.corporate_fashion_footer {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
	border-bottom: 5px solid #aaa;
	z-index: 19;
}
.corporate_fashion_footer img {
	width: 100%;
}
.event_section {
	position: relative;
	width: 100%;
	min-height: 650px;
	z-index: 1;
	padding-bottom: 140px;
}
.event_bg {
	position: absolute;
	width: 125%;
	height: 100%;
	background: url(../images/event_main_bg.jpg) 0% 3% repeat;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	left: -60px;
	margin-top: -30px;
	z-index: 1;
	background-size: cover;
	border-bottom: 10px solid #aaa;
}
.event_white_bg {
	position: relative;
	z-index: 3;
	background: url(../images/event_list_img.png) no-repeat top center;
	background-size: 100%;
	width: 80%;
	margin: auto;
	margin-top: 120px;
	padding: 60px;
	min-height: 590px;
}
.event_white_bg ul {
	padding-left: 45px;
}
.event_white_bg ul li {
	font-size: 18px;
	line-height: 34px;
}
.event_white_bg ul li a {
	color: #333;
}
.event_white_bg p {
	font-size: 16px;
	line-height: 23px;
}
.event_listing_link li a:hover {
	cursor: url('../images/mouse-cursor.png'), default !important;
}
.map_section {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-top: -65px;
}
.map_bg {
	position: absolute;
	width: 125%;
	height: 100%;
	background: url(../images/map_main_bg.jpg) 0% 3% repeat;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	left: -60px;
	top: 30px;
	border-top: 10px solid #aaa;
	border-bottom: 10px solid #aaa;
}
.map_img {
	width: 75%;
	margin: auto;
	position: relative;
	z-index: 3;
	text-align: center;
	padding: 160px 0 100px;
}
.map_img img {
	width: 450px;
	margin: auto;
}
.einsatzorte_section {
	padding-bottom: 140px;
	position: relative;
	z-index: 0;
}
.einsatzorte_white_bg {
	position: relative;
	z-index: 9;
	background: url(../images/einsatzorte_white_bg.png) no-repeat top center;
	background-size: 100% 100%;
	width: 75%;
	margin: -13px auto 0;
	padding: 70px 30px 50px;
}
.einsatzorte_white_bg ul {
	padding-left: 20px;
}
.einsatzorte_white_bg ul li {
	font-size: 22px;
	line-height: 34px;
}
.einsatzorte_white_bg ul li a {
	color: #333;
}
.einsatzorte_white_bg p {
	font-size: 16px;
	line-height: 25px;
}
.einsatzorte_white_bg h2 {
	padding: 15px 0;
}
.einsatzorte_white_bg .medium-4 ul li {
	line-height: 40px;
}
/** miss hosteen **/
.mis_hosteen_section {
	position: relative;
	z-index: 0;
	background-size: cover !important;
}
.mis_hosteen_white {
	position: relative;
	z-index: 1;
	background: url(../images/mis_hosteen_white_bg.png) no-repeat top center;
	background-size: 100%;
	width: 96%;
	margin: 140px auto 180px;
	padding: 30px 65px 70px 46px;
	min-height: 810px;
}
.mis_hosteen_white h2 {
	padding: 29px 0 15px 0;
	text-transform: uppercase;
}
.mis_hosteen_white p {
	font-size: 21px;
	line-height: 25px;
	padding: 30px 30px 0 0;
}
.model_01 {
	background: url(../images/mis_hosteen_bg_01.jpg) no-repeat top center;
}
.model_02 {
	background: url(../images/mis_hosteen_bg_02.jpg) no-repeat top center;
}
.model_03 {
	background: url(../images/mis_hosteen_bg_03.jpg) no-repeat top center;
}
.model_04 {
	background: url(../images/mis_hosteen_bg_04.jpg) no-repeat top center;
}
.model_05 {
	background: url(../images/mis_hosteen_bg.jpg) no-repeat top center;
}
.kong_01 {
	background: url(../images/kong_bg_01.jpg) no-repeat top center;
}
.kong_02 {
	background: url(../images/kong_bg_02.jpg) no-repeat top center;
}
.kong_03 {
	background: url(../images/kong_bg_03.jpg) no-repeat top center;
}
.kong_04 {
	background: url(../images/kong_bg_04.jpg) no-repeat top center;
}
.fashion_01 {
	background: url(../images/fashion_bg_01.jpg) no-repeat top center;
}
.fashion_02 {
	background: url(../images/fashion_bg_02.jpg) no-repeat top center;
}
.fashion_03 {
	background: url(../images/fashion_bg_03.jpg) no-repeat top center;
}
.fashion_04 {
	background: url(../images/fashion_bg_04.jpg) no-repeat top center;
}
.fashion_01, .fashion_02, .fashion_03, .fashion_04 {
	background-size: cover;
}
/** entwruf **/
.city_bg {
	padding-top: 40px;
	min-height: 667px;
	position: relative;
}
.city_inner_text_gray {
	background: rgba(0,0,0,0.4);
	padding: 20px 0;
	transform: rotate(3deg);
	width: 120%;
	margin-left: -10%;
	margin-bottom: 200px;
}
.city_textarea h2, .city_textarea h1 {
	width: 51%;
	margin: auto;
	color: #fff;
}
.city_textarea h2 {
	margin-bottom: 140px;
}
.city_textarea {
	position: relative;
	z-index: 3;
}
.berlin_bg {
	background: url(../images/berlin_bg.jpg) no-repeat top center;
	background-size: 100%;
}
.nurnberg_bg {
	background: url(../images/nurnburg_bg.jpg) no-repeat top center;
	background-size: 100%;
}
.hannover_bg {
	background: url(../images/hannover_bg.jpg) no-repeat top center;
	background-size: 100%;
}
.hamburg_bg {
	background: url(../images/hamburg_bg.jpg) no-repeat top center;
	background-size: 100%;
}
.munchen_bg {
	background: url(../images/munchen_bg.jpg) no-repeat top center;
	background-size: 100%;
}
.koln_bg {
	background: url(../images/koln_bg.jpg) no-repeat top center;
	background-size: 100%;
}
.frankfert_bg {
	background: url(../images/frankfert_bg.jpg) no-repeat top center;
	background-size: 100%;
}
.mallorca_bg {
	background: url(../images/mallorca_bg.jpg) no-repeat top center;
	background-size: 100%;
}
.barcelona_bg {
	background: url(../images/barcelona_bg.jpg) no-repeat top center;
	background-size: 100%;
}
.madrid_bg {
	background: url(../images/madrid_bg.jpg) no-repeat top center;
	background-size: 100%;
}
.mailand_bg {
	background: url(../images/mailand_bg.jpg) no-repeat top center;
	background-size: 100%;
}
.hostesseen {
	background: #fff url(../images/hostesseen_girl_img.jpg) no-repeat center top;
	min-height: 950px;
	position: relative;
}
.hostesseen_text {
	position: relative;
	z-index: 1;
}
.hostesseen_button {
	padding: 60px 0;
}
.hostesseen_button a {
	color: #8a8a8a;
}
.hostesseen_button p {
	border-radius: 100%;
	font-size: 28px;
	text-transform: uppercase;
	box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
	width: 290px;
	background: #fff;
	margin: auto;
	padding: 35px 0;
	position: relative;
}
.hostesseen_button p img {
	position: absolute;
	right: 13px;
	top: 3px;
}
.agentur_white {
	background: url(../images/agentur_white_img.png) no-repeat top center;
	background-size: 100%;
	padding: 30px;
	margin-bottom: 110px;
	min-height: 580px;
	z-index: 10;
	position: relative;
}
.agentur_white p {
	padding-right: 80px;
	font-size: 18px;
}
.bewerbur_white {
	width: 62%;
	margin: auto;
	background: url(../images/bewerbur_white_bg.png) no-repeat top center;
	background-size: 100% 95%;
	padding: 50px;
	margin-bottom: 90px;
	min-height: 650px;
	z-index: 10;
	position: relative;
}
.bewerbur_white p {
	padding-right: 80px;
	font-size: 18px;
}
.promotion_section {
	position: relative;
}
.promotion_banner {
	background: url(../images/promotion_banner.jpg) 0% 10% repeat fixed;
	min-height: 867px;
	background-size: cover;
	padding-top: 220px;
	position: relative;
}
.disclaimer_bg {
	background: url(../images/disclaimer_white_bg.png) top center no-repeat;
	background-size: 100% 80%;
	min-height: 650px;
	width: 60%;
	margin: auto;
	position: relative;
	z-index: 1;
	padding: 85px 50px 0 50px;
}
.disclaimer_bg p {
	font-size: 18px;
}
.meeting_section {
	position: relative;
	margin-bottom: 150px;
}
.barlin_white_bg {
	background: url(../images/barlin_white_bg.png) no-repeat top center;
	width: 65%;
	margin: auto;
	background-size: 100%;
	padding: 30px 60px 40px;
	margin-bottom: 270px;
	position: relative;
	margin-top: 130px;
	min-height: 575px;
}
.barlin_white_bg ul li {
	width: 50%;
	float: left;
	text-align: center;
	list-style: none;
	font-size: 18px;
}
.meeting_banner {
	overflow: hidden;
	position: absolute;
	width: 125%;
	height: 100%;
	background: url(../images/meeting_banner_img.jpg) 0% 3% no-repeat;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	transform: rotate(3deg);
	left: -60px;
	margin-top: -30px;
	border-top: 10px solid #aaa;
	background-size: cover;
}
.meeting_text {
	position: relative;
}
.meeting_text h1 {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	font-size: 44px;
	left: 83px;
	top: -5px;
	transform: rotate(-15deg);
	text-shadow: 3px 3px 5px #555;
}
.barlin_white_bg h2 {
	padding: 60px 0 20px 0;
	margin: 0;
}
.barlin_white_bg p {
	padding-left: 60px;
}
.meeting_footer_img {
	position: absolute;
	z-index: 9;
	bottom: -100px;
	left: 0;
	width: 100%;
}
.meeting_footer_img img {
	width: 100%;
}
.team_area {
	position: relative;
	margin-bottom:10px;
	border-radius: 100%;
	overflow: hidden;
	box-shadow: -4px 5px 4px rgba(0,0,0,0.3);
	display:inline-block;
	vertical-align:top;
}
.team_area .hover_box {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(255,255,255,0.8);
	padding: 10px;
	opacity:0;
	border-radius:50%;
	
}
.team_area .hover_box a {
	color: #8a8a8d;
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
	width: auto;
}
.team_area .hover_box a:hover{
	color:#2199e8;
	text-decoration:none;
}
.team_area .hover_box figure {
	width: 100%;
	margin:0 0 20px;
	padding-top: 50px;
}
.team_area:hover .hover_box{
	display: block;
	opacity:1;
	cursor: url('../images/mouse-cursor.png'), default !important;
	transition: color 0.35s ease, background 0.70s ease, opacity 0.70s ease;
	-webkit-transition: color 0.35s ease, background 0.70s ease, opacity 0.70s ease;
}
.team_area.hover_box{
	cursor: url('../images/mouse-cursor.png'), default !important;
}
.standorate_img {
	width: 100%;
	margin-bottom: 200px;
}
.standorate_section h1 {
	text-align: center;
	color: #fff;
	font-size: 54px;
}
.standorate_img .standorate_img_01 {
	background: url(../images/standorate_img_01.png) no-repeat top left;
	background-size: 100.7%;
}
.standorate_img .standorate_img_01:hover {
	background: url(../images/standorate_img_01_hover.png) no-repeat top left;
	background-size: 100%;
	cursor: url('../images/mouse-cursor.png'), default !important;
}
.standorate_img .standorate_img_01 .contacts_info {
	display: none;
	width: 50%;
	margin: auto;
	padding-top: 10px;
	font-size: 27px;
}
.standorate_img .standorate_img_01:hover .contacts_info {
	display: block;
}
.standorate_img .standorate_img_01:hover .contacts_in_left {
	padding-left: 20px;
}
.standorate_img .standorate_img_02 img {
	width: 100%;
}
.standorate_img .standorate_img_01 {
	width: 68.61%;
	min-height: 200px;
}
.standorate_img .standorate_img_02 {
	width: 31.39%;
}
.agentur_text {
	background: #fff;
	width: 120%;
	margin-left: -10%;
	padding: 110px 0;
	position: relative;
	z-index: 1;
	text-align: center;
	transform: rotate(-4deg);
}
.agentur_text h1 {
	display: inline-block;
	border-bottom: 1px solid #92e100;
	text-transform: uppercase;
	transform: rotate(4deg);
}
#go-to-top {
	cursor: pointer;
}
.add_margin {
	margin-left: 250px;
	transition: ease 0.6s all;
}
.bottom_arrow {
	text-align: center;
	padding-top: 10px;
}
.team_members .row_holder{text-align:center;}
.team_members .row_holder .column{
	float:none;
	display:inline-block;
	vertical-align:top;
}
.team_members  .team_titel{
	font-size:1.6rem;
	line-height:1.2;
	color:#fff;
	text-shadow:3px 3px 8px #555555;
	margin-bottom:100px;
	text-transform:capitalize;
	text-align:center;
}

/** responsive css **/

@media screen and (min-width: 1390px) {
	.logo {
		width: 100%;
		padding: 45px 0;
	}
}
 @media screen and (min-width: 1445px) {
	.standorate_img .standorate_img_01 {
		min-height: 300px;
	}
	.green_bar {
		left: 26%;
		width: 48%;
	}
	.standorate_img .standorate_img_01 {
		min-height: 290px;
	}
	.top_nav {
		bottom: 120px;
	}
	.logo {
		width: 100%;
		padding: 6.5% 0 80px;
	}
	.logo img {
		width: 40%;
	}
}
@media screen and (max-width: 1220px) {
	.team_area {
		margin-bottom: 15px;
	}
	.leistun_wrapper, .event_white_bg {
		background-size: 100% 100%;
	}
}
 @media screen and (max-width: 1100px) {
	h1 {
		font-size: 2.5em;
	}
	.top_nav ul li a {
	padding: .7rem 1rem !important;
	}
	.nav-bar {
		margin-top: 7px;
	}
	.stickytop ul li a {
		font-size: 20px;
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
	.meeting_text h1 {
		position: relative;
		left: -55px;
	}
	.barlin_white_bg {
		width: 80%;
		padding: 30px 60px 40px 116px;
	}
	.barlin_white_bg h2 {
		padding-top: 17px !important;
	}
	.meeting_footer_img {
		bottom: -55px;
	}
	.standorate_img .standorate_img_01 .contacts_info {
		font-size: 20px;
	}
	.contacts_in_right img {
		width: 60%;
	}
	.barlin_white_bg p br {
		display: none;
	}
	.barlin_white_bg ul li {
		text-align: left;
		padding-left: 20px;
	}
	.bewerbur_white {
		width: 80%;
	}
	.mis_hosteen_white p {
		font-size: 16px;
		padding: 10px 20px 0 0;
	}
	.logo a img {
		width: 65%;
	}
	.team_area .hover_box figure {
		margin: 0 0 20px;
		padding-top: 30px;
		width: 100%;
	}
	.hover_box figure > img {
		padding: 10px 0 0;
		width: 70px;
	}
}
 @media screen and (max-width: 1002px) {
	.content_forms {
		width: 100%;
		margin: 0;
		padding: 50px 0 0 0;
	}
	.jetzt {
		width: 90%;
		margin: auto;
		left: 5%;
		background: #fff;
	}
	.jetzt textarea {
		height: 130px;
	}
	.mis_hosteen_section {
		background-size: 100% 100%;
	}
	.mis_hosteen_white {
		width: 90%;
		background: #fff;
		min-height: auto;
		padding: 24px;
	}
	.mis_hosteen_white h2 {
		text-align: center !important;
		padding: 0;
	}
	.leistun_wrapper {
		width: 96%;
		padding: 90px 20px 0;
	}
	.leistun_text {
		width: 100%;
	}
	.team_area span img {
		width: 50px;
	}
	.team_area .hover_box {
		font-size: 20px;
	}
	.team_area .hover_box figure {
		padding-top: 25px;
	}
	.listing_point {
		padding-bottom: 180px;
		background: url(../images/list_bg.png) no-repeat bottom center;
	}
	.listing_point li {
		width: 100% !important;
		line-height: 32px;
	}
	.fashion_white_bg {
		width: 92%;
		background: #fff;
		padding: 4%;
	}
	.corporate_fashion_footer {
		bottom: 0px;
		z-index: 20;
	}
	.corporate_fashion {
		padding-bottom: 100px;
	}
	.event_white_bg {
		width: 96%;
		background: #fff;
	}
	.einsatzorte_white_bg {
		background: #fff;
		width: 96%;
	}
	.inner_banner_area {
		padding-bottom: 0;
	}
	.berlin_bg {
		background-size: cover;
	}
	.nurnberg_bg {
		background-size: cover;
	}
	.hannover_bg {
		background-size: cover;
	}
	.hamburg_bg {
		background-size: cover;
	}
	.munchen_bg {
		background-size: cover;
	}
	.koln_bg {
		background-size: cover;
	}
	.frankfert_bg {
		background-size: cover;
	}
	.mallorca_bg {
		background-size: cover;
	}
	.barcelona_bg {
		background-size: cover;
	}
	.madrid_bg {
		background-size: cover;
	}
	.mailand_bg {
		background-size: cover;
	}
	.city_bg {
		min-height: 350px;
		overflow: hidden;
	}
	.hostesseen_text_job {
		width: 96%;
	}
	.hostesseen_button {
		width: 80%;
		margin: auto;
	}
	.agentur_white {
		width: 100%;
		background: #fff;
	}
	.agentur_text {
		padding: 30px 0;
	}
	.promotion_banner {
		padding-bottom: 90px;
	}
	.disclaimer_bg {
		background: #fff;
		border: 5px solid rgba(146,225,0,0.5);
		width: 94%;
		padding: 20px;
	}
	.barlin_white_bg {
		width: 94%;
		background: #fff;
		text-align: left !important;
		padding: 30px;
		min-height: auto;
	}
	.barlin_white_bg p {
		padding: 0;
	}
	.team_area {
		margin-bottom: 10px;
	}
	.team_area .hover_box {
		border-radius: 100%;
	}
	.meeting_text h1 {
		transform: rotate(0deg);
		padding: 10px 0;
		text-align: center !important;
		width: 100%;
		left: 0 !important;
		text-shadow: none;
		color: #333;
	}
	.team_area {
		margin-bottom: 15px;
	}
	.disclaimer_bg {
		min-height: auto;
	}
	.banner {
		background: url(../images/banner_image.png) top center repeat fixed;
		background-size: cover;
	}
	body.home {
	  background: rgba(0, 0, 0, 0) url("../images/banner_image.png") repeat fixed center top / cover ;
	}
	.text_banner h1 {
		font-size: 36px;
	}
	.text_banner {
		padding: 90px 0;
	}
	.standorate_img {
		margin-bottom: 30px;
	}
	.bewerbur_white {
		width: 94%;
		background: #fff;
		border: 6px solid rgba(0,0,0,0.3);
		padding: 25px;
		min-height: auto;
		margin-bottom: 70px;
	}
	.bewerbur_white p {
		padding: 0;
	}
	.footer_info {
		width: 100%;
	}
	.hostesseen_button {
		padding: 152px 0 20px 0;
	}
	.city_textarea h1 {
		font-size: 30px;
	}
	.corporate_list {
		padding-bottom: 10px;
	}
	.leistun_text h2 {
		font-size: 28px;
	}
	.leistun_wrapper, .event_white_bg {
		background: #fff;
		min-height: auto;
	}
	.corporate_fashion_text h2 {
		transform: rotate(0deg);
	}
	.banner, .corporate_fashion, .event_section, .map_section {
		overflow: hidden;
	}
	.jetzt {
		height: auto;
	}
	.standorate_img .standorate_img_01 {
		min-height: 160px;
	}
	.team_members .team_titel{font-size:1.4rem;}
	.team_area .hover_box a {
		color: #8a8a8d;
		font-size: 20px;
		font-weight: 700;
		line-height: 28px;
		width: auto;
	}
}
@media screen and (max-width: 900px) {
	.team_area .hover_box figure {
		padding-top: 15px;
	}
	.hover_box figure > img {
		padding: 10px 0 0;
		width: 60px;
	}
}
 @media screen and (max-width: 840px) {
	.responsive_bar, .stickytop .top_bar {
		display: block;
	}
	.top_nav {
		display: none;
	}
	.top_nav ul li a {
		font-size: 20px;
	}
	.contact_info_text p {
		margin-bottom: 10px;
		font-size: 16px;
	}
	.contact_info_text a {
		color: #8a8a8a;
		font-size: 16px;
	}
	.contact_info_text span {
		display: block;
	}
	.gallery h1 {
		transform: rotate(0deg);
	}
	.gallery_list {
		transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		padding-bottom:380px;
	}
	.gallery_list img {
		border: 3px solid #9ba0a1;
	}
	.jetzt {
		width: 94%;
		left: 3%;
		padding: 10px;
		margin: 0;
	}
	.content_forms {
		width: 100%;
		padding: 130px 0 0 0;
	}
	.reveal-modal .close-reveal-modal {
		font-size: 40px;
	}
	.footer_nav {
		padding: 20px 0;
	}
	.footer_nav li {
		font-size: 14px;
		text-align: center;
	}
	.title-bar {
		display: block !important;
		padding: 0;
	}
	.nav-bar {
		display: block;
	}
	.lang_list li {
		width: 33%;
	}
	.top_bar .lang_list ul li a {
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.top_bar {
		display: block;
	}
	.social_icon ul {
		display: block;
		width: 100%;
		padding-top: 15px;
	}
	.social_icon li {
		width: 25%;
	}
	.social_icon li a {
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.logo img {
		max-width: 90%;
		margin: 0 auto;
	}
	.nav-bar ul li {
		display: block;
		width: 100%;
	}
	.dropdown.menu .submenu {
		display: block;
		width: 100%;
	}
	.nav-bar {
		background: #fff;
	}
	.stickytop .lang_list, .stickytop .social_icon {
		display: none;
	}
	.nav-bar {
		display: none !important;
	}
	.active-menu {
		display: block !important;
	}
	.responsive_bar.stickytop {
		height: 45px !important;
	}
	.main_header {
		height: auto;
	}
	.scroll_arrow {
		bottom: -60px;
	}
	.top_banner {
		margin-top: 0;
	}
	.top_banner .popup_button_fix {
		top: 75px;
	}
	.meeting_footer_img {
		bottom: -2px;
	}
	.off-canvas-wrapper {
		position: fixed;
		top: 0;
		z-index: 9999;
		width: 100%;
	}
	.off-canvas-wrapper-acitve {
		height: 100%;
	}
	.page {
		display: block;
		height: 50px;
	}
	.inner_head {
		height: 0;
	}
	.stickytop {
		display: none;
	}
	.promotion_section, .meeting_section {
		overflow: hidden;
	}
	.meeting_section {
		margin-bottom: 60px;
	}
	.standorate_img {
		margin-bottom: 0;
	}
	.meeting_text h1 {
		font-size: 30px;
	}
	.barlin_white_bg h2 {
		font-size: 26px;
	}
	.leistun_text h2 {
		font-size: 20px;
	}
	.einsatzorte_white_bg ul li {
		font-size: 18px;
	}
	.corporate_list {
		display: none;
	}
	.logo {
		padding: 45px 0 90px;
	}
	.menu-bar {
		display: block;
	}
	/** calss updated after menu fixing ***/
	.main_header {
		padding-top: 50px;
	}
	.team_area .hover_box figure {
		margin: 0 0 10px;
		padding-top: 15px;
	}
	.team_area .hover_box a {
		color: #8a8a8d;
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		width: auto;
		display: inline-block;
		vertical-align: top;
	}
}
 @media screen and (max-width: 767px) {
	.text_banner h1 {
		font-size: 24px;
	}
	.text_banner {
		padding: 50px 0;
	}
	.agentur_text h1 {
		font-size: 22px;
	}
	.popup_button_fix_inner {
		top: 70px;
	}
	.meeting_text h1 {
		font-size: 22px;
	}
	.barlin_white_bg h2 {
		font-size: 18px;
		padding: 0 !important;
	}
	.barlin_white_bg ul li {
		font-size: 16px;
	}
	.mis_hosteen_section {
		background-size: cover;
	}
	.mis_hosteen_white {
		margin: 150px auto 65px;
	}
	.contact_button {
		width: 44px;
		height: 44px;
		background-size: 100% 100%;
		right: 10px;
	}
	.content_forms {
		padding: 10px 0 0 0;
	}
	.content_forms p {
		width: 80%;
	}
	.footer_nav li a {
		padding: 0 !important;
	}
	.jetzt textarea {
		height: 90px;
	}
	.form_submit {
		width: 100%;
	}
	.standorate_img .standorate_img_01 .contacts_info {
		width: 60%;
	}
	.contacts_in_right {
		width: 32%;
	}
	.standorate_img .standorate_img_01:hover .contacts_in_left {
		font-size: 14px;
	}
	.hover_box figure > img {
		padding: 5px 0 0;
		width: 40px;
	}
	.team_area .hover_box a {
		font-size: 18px;
		line-height: 20px;
	}
}
@media screen and (max-width: 639px) {
	.team_members .row > div:nth-last-child(2) {
		clear: left;
	}
	.gallery h1 {
		font-size: 24px;
	}
	.gallery_list {
		padding-bottom: 0;
		padding-top: 0;
	}
	.team_area .hover_box figure {
	  margin: 0 0 10px;
	  padding-top: 80px;
	}
	.hover_box figure > img {
	  padding: 10px 0 0;
	  width: 60px;
	}
	.team_area .hover_box a {
	  font-size: 22px;
	  line-height: 24px;
	}
	.reveal-modal.jetzt.reveal-modal2 h1 {
		margin: 20px 0;
	}
	.reveal-modal.jetzt.reveal-modal2 {
	  padding: 25px 15px 15px;
	  text-align: justify;
	}
	.reveal-modal.jetzt.reveal-modal2 {
		height: 300px;
		overflow: auto;
		padding: 25px 15px 15px;
		text-align: justify;
	}
}
@media screen and (max-width: 519px) {
	.team_members .medium-3 {
		width: 100%;
	}
	.footer_info {
		width: 100%;
	}
	.city_textarea h1 {
		font-size: 23px;
		width: 85%;
	}
	.city_textarea h2 {
		text-align: center;
		width: 75%;
	}
	.footer_nav li {
		font-size: 11px;
		text-align: center;
	}
	.content_forms input[type="text"], .content_forms input[type="email"], .content_forms textarea {
		margin-bottom: 2px;
		padding: 4px;
		height: 30px;
		border: 1px solid #B3B1B1;
	}
	.content_forms p {
		margin: 0;
	}
	.jetzt {
		top: 65px !important;
	}
	.team_members .team_titel {
	  font-size: 1.6rem;
	}
	.team_area .hover_box figure {
	  margin: 0 0 10px;
	  padding-top: 120px;
	}
	.hover_box figure > img {
	  padding: 10px 0 0;
	  width: 80px;
	}
	.team_area .hover_box a {
	  font-size: 24px;
	  line-height: 28px;
	}
}
@media screen and (max-width: 370px) {
	.team_area .hover_box figure {
	  margin: 0 0 10px;
	  padding-top: 60px;
	}
	.team_area .hover_box a {
	  font-size: 22px;
	  line-height: 28px;
	}
}
